<img src="../../assets/2021-03-18.png" class="img-fluid logo" alt="alt text">
                     
<div class="container-fluid">
   <div class="row">
       <div class="col-12 col-md-7 col-lg-6 sideimage">         
       </div>
       <div class="col-12 col-md-5 col-lg-6">
           <div class="row">
               <div class="col-12 offset-md-1 offset-lg-2 col-md-10 col-lg-8">
                   <div class="backgroundmain">
                       <div  class=" foreground">
                           <!-- offset-md-2 offset-lg-3 -->
                           <div style="text-align: center; font-family: 'Roboto', sans-serif; margin-top: 20px; margin-bottom: 20px; font-size: 21px; color:#0c0c69">Hello Absyzians<br>
                               <b>Office Reopening Plan on 1st April 2021</b>
                           </div>
                           
                           <form [formGroup]="employeeForm" (ngSubmit)="submit()">
                       <div>
                           <div class="form-group">
                            <label class="label">Name<span style="color: red;">*</span>:</label>
                            <input type="text" 
                                   formControlName="name" 
                                   class="form-control" 
                                   [ngClass]="{'is-invalid':employeeForm.get('name').touched && 
                                   employeeForm.get('name').invalid}"/> 
                                   <div class="invalid-feedback" *ngIf="employeeForm.get('name').hasError('required')">
                                       Please Enter Your Name
                                    </div>   
                           </div>
                       </div>
                       <div>
                           <div class="form-group">
                           <label class="label">Employee Id<span style="color: red;">*</span>:</label> 
                           <input type="text" 
                                   formControlName="employeeid" 
                                   class="form-control"
                                   [ngClass]="{'is-invalid':employeeForm.get('employeeid').touched && 
                                   employeeForm.get('employeeid').invalid}"/> 
                                   <div class="invalid-feedback" *ngIf="employeeForm.get('employeeid').hasError('required')">
                                       Please Enter Your Employee Id
                                    </div>  
                           </div>
                       </div>
                       <div >
                           <div class="form-group">
                               <label class="label">Work Location<span style="color: red;">*</span></label>
                               <select formControlName="preference"
                                       class="form-control"
                                       name="preference"
                                       id="preference"
                                       
                                       [ngClass]="{'is-invalid':employeeForm.get('preference').touched && 
                                       employeeForm.get('preference').invalid}"
                                    
                                       >
                                   
                               <option value="Hyderabad" selected>Hyderabad</option>  
                               <option value="Banglore">Banglore</option>      
                       
                               </select>
                               <div class="invalid-feedback" *ngIf="employeeForm.get('preference').hasError('required')">
                                Please Select your work location
                               </div>
                           </div>
                       </div>
                       <div>
                        <div class="form-group">
                        <label class="label">Current Location<span style="color: red;">*</span>:</label> 
                        <input type="text" 
                        ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
                                formControlName="currentLocation" 
                                class="form-control"
                                [ngClass]="{'is-invalid':employeeForm.get('currentLocation').touched && 
                                employeeForm.get('currentLocation').invalid}"/> 
                                <div class="invalid-feedback" *ngIf="employeeForm.get('currentLocation').hasError('required')">
                                    Please Enter Your currentLocation
                                 </div>  
                        </div>
                    </div>
                    
                    <div >
                        <div class="form-group">
                            <label class="label">Preference<span style="color: red;">*</span></label>
                            <select formControlName="preference"
                                    class="form-control"
                                    name="preference"
                                    id="preference"
                                    
                                    [ngClass]="{'is-invalid':employeeForm.get('preference').touched && 
                                    employeeForm.get('preference').invalid}"
                                    (change)="onSelection($event)"
                            >
                                
                            
                            <option value="workFromHomeForever">Work From Home Forever</option>
                            <option value="tentativeJoiningDate">Tentative Joining Date</option>      

                    
                            </select>
                            <div class="invalid-feedback" *ngIf="employeeForm.get('preference').hasError('required')">
                             Please select your preference
                            </div>
                        </div>
                    </div>
                           
                           <!-- <div *ngIf="">
                               
                           <div>
                          
                       </div>
                       <div class="form-group">
                        <label class="mt-2">Comments</label>
                        <textarea rows="4" class="form-control mt-2"
                         formControlName="comments" placeholder="Please enter the reason"></textarea>
                       </div>
                       <div style="text-align: center;">
                       <button  class="btn btn-primary"
                               type="submit"
                               [disabled]="employeeForm.invalid">Submit</button>
                        <p *ngIf="formsucess;" class=" mt-2 text-success label"><b>Details Submitted Succesfully!</b></p> 
                        <p *ngIf="errormessage"class=" mt-2 text-danger label"><b>There is an error submitting your details,Please try again!!</b></p>      
                       </div> -->
                    <div [ngSwitch]='selectedValue'>
                        <div *ngSwitchCase="'blank'">
                            <div>
                                <div class="form-group">
                                    <label class="label">Date:</label>
                              <input type="date"
                                     class="form-control"
                                     formControlName="date"
                                     disabled
                                     name="date"
                                     id="date"
                                     [ngClass]="{'is-invalid':employeeForm.get('date').touched && 
                                     employeeForm.get('date').invalid}">
                                     <div class="invalid-feedback" *ngIf="employeeForm.get('date').hasError('required')" >
                                         Please select a Date
                                     </div>
                        
                            </div>
                            </div>
                            </div>
                            <div *ngSwitchCase="'workFromHomeForever'">
                                <div class="form-group">
                                    <label class="mt-2">Comments</label>
                                    <textarea rows="4" class="form-control mt-2"
                                     formControlName="comments" placeholder="Please enter the reason"
                                     [ngClass]="{'is-invalid':employeeForm.get('comments').touched && 
                                     employeeForm.get('comments').invalid}"></textarea>
                                     <div class="invalid-feedback" *ngIf="employeeForm.get('comments').hasError('required')" >
                                        Please comment here
                                    </div>
                                   </div>
                            </div>
                            <div *ngSwitchCase="'tentativeJoiningDate'">
                                <div class="form-group">
                                        <label class="label">Joining Date<span style="color: red;">*</span></label>
                                        <input type="date"
                                             class="form-control"
                                             formControlName="joiningDate"
                                             name="joiningDate"
                                             id="joiningDate"
                                             [ngClass]="{'is-invalid':employeeForm.get('joiningDate').touched && 
                                             employeeForm.get('joiningDate').invalid}">
                                             <div class="invalid-feedback" *ngIf="employeeForm.get('joiningDate').hasError('required')" >
                                                Please select a Date
                                            </div>
                                </div> 
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <button  class="btn btn-primary"
                                    type="submit"
                                    [disabled]="employeeForm.invalid">Submit</button>
                             <p *ngIf="formsucess;" class=" mt-2 text-success label"><b>Details Submitted Succesfully!</b></p> 
                             <p *ngIf="errormessage"class=" mt-2 text-danger label"><b>There is an error submitting your details,Please try again!!</b></p>      
                            </div>
                       </form>
                       </div>
                       </div>
                       <section class='label' style="margin-top: 45px; text-align:justify;">

                           <b>Safety is of the utmost importance during this return-to-office process, and we have made numerous changes to our policies and procedures, including the following:
                           </b>
                           <ul>
                               <li>Enhanced cleaning and disinfection</li>
                               <li>Six feet of space between desks and workspaces</li>
                               <li>Daily temperature checks upon office entry</li>
                               <li>Cloth mask requirements </li>
                           </ul>
                           
                           <b>For employees, we ask that you follow a few simple-yet-effective guidelines while in the office, including:
                           </b>
                           <ul>
                               <li>Wash your hands often, and for at least 20 seconds
                               </li>
                               <li>Stay six feet apart from your coworkers
                               </li>
                               <li>Wear a mask </li>
                               <li>Stay home if you’re sick or feeling unwell</li>
                           </ul>
                              </section>
               </div>
           </div>
           
              
               </div>
             
   </div> 
   
       </div>